    * {
        margin: 0;
        padding: 0;
    }
    
    body,
    html {
        color: white;
        font-family: 'Encode Sans SC', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100v;
    }
    
    body {
        background-image: url(wall.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
    }
    
    .center .avatar img {
        border-radius: 50%;
        width: 140px;
        height: 140px;
        margin-top: 5%;
        object-fit: cover;
        object-position: 0 -5px;
    }
    
    .center {
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 50px auto;
        background-color: rgba(0, 0, 0, 0.7);
        height: 80vh;
        text-align: center;
        border-radius: 5px;
    }
    
    .content {
        padding: 50px;
    }
    
    h1 {
        color: wheat;
    }
    
    .content h2,
    p {
        font-weight: lighter;
        letter-spacing: 1px;
        width: 370px;
        margin: 10px auto;
    }
    
    .content h2 {
        font-weight: 400;
    }
    
    .content h3 {
        margin-top: 20px;
    }
    
    .fa {
        margin-right: 155px;
        padding: 0 10px;
        font-size: 30px;
        color: rgb(24 119 242);
        margin-left: 150px;
    }
    
    .fa:hover {
        color: rgba(10, 207, 241, 0.7)
    }