* {
    margin: 0;
    padding: 0;
}

body,
html {
    color: white;
    font-family: 'Encode Sans SC', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url(hd.jpg);
    background-size: cover;
    background-position: center;
    background-position: top;
    position: relative;
}

.center .avatar img {
    border-radius: 50%;
    width: 140px;
    height: 140px;
    margin-top: 10%;
    object-fit: cover;
    object-position: 0 -5px;
}

.center {
    width: 400px;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    background-color: rgba(0, 0, 0, 0.7);
    height: 80vh auto;
    text-align: center;
    border-radius: 5px;
}

.content {
    padding: 50px;
}

h1 {
    color: wheat;
}

.content h2,
p {
    font-weight: lighter;
    letter-spacing: 1px;
    width: 370px;
    margin: 10px auto;
}

.content h2 {
    font-weight: 400;
    display: inline;
}

.content h3 {
    margin-top: 20px;
}

.fa {
    margin-right: 155px;
    padding: 0 10px;
    font-size: 30px;
    color: rgb(24 119 242);
    margin-right: 0 auto;
    margin-left: 150px;
}

.fa:hover {
    color: rgba(10, 207, 241, 0.7)
}

.a {
    width: 30px;
}

.center span {
    color: white;
    text-transform: uppercase;
    display: block;
}

.text1 {
    padding: 5px;
    letter-spacing: 1px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 17%;
    transform: translate(48%, 52%);
}

.text1 {
    font-size: 18px;
    font-weight: 300;
    animation: text 3s 1;
}

@keyframes text {
    0% {
        color: black;
    }
    30% {
        letter-spacing: 5px;
        margin-bottom: 20%;
    }
    85% {
        margin-bottom: 20%;
    }
}

@media screen and (max-width: 750px) {
    body {
        width: 50%;
        height: 100vh;
        background-image: url(hd.jpg);
        background-size: cover;
        background-position: center;
        background-position: top;
        position: relative;
    }
    .center {
        width: 400px;
        align-items: center;
        justify-content: center;
        margin: 50px auto;
        background-color: rgba(0, 0, 0, 0.7);
        height: 65vh auto;
        text-align: center;
        border-radius: 5px;
    }
    .center .avatar img {
        border-radius: 50%;
        width: 140px;
        height: 130px;
        margin-top: 10%;
        object-fit: cover;
        object-position: 0 -5px;
    }
    .content h2,
    p {
        font-weight: lighter;
        letter-spacing: 1px;
        width: 350px;
        margin: 5px auto;
    }
    .fa {
        padding: 0 5px;
        font-size: 25px;
        color: rgb(24 119 242);
        margin-left: 40%;
    }
    .content {
        padding: 10px;
    }
    .text1 {
        padding: 5px;
        letter-spacing: 1px;
        text-align: center;
        position: absolute;
        font-size: 12px;
        top: 20%;
        left: 35%;
        transform: translate(-25%, 50%);
    }
    @keyframes text {
        0% {
            color: black;
        }
        30% {
            letter-spacing: 5px;
            margin-bottom: 20%;
        }
        85% {
            margin-bottom: 20%;
        }
    }
}

@media screen and (max-width: 550px) {
    body {
        width: 50%;
        height: 100vh;
        background-image: url(hd.jpg);
        background-size: cover;
        background-position: center;
        background-position: top;
        position: relative;
    }
    .center {
        width: 350px;
        align-items: center;
        justify-content: center;
        margin: 50px auto;
        background-color: rgba(0, 0, 0, 0.7);
        height: 60vh auto;
        text-align: center;
        border-radius: 5px;
    }
    h1 {
        font-size: 25px;
        text-align: center;
    }
    .content h2,
    p {
        font-weight: lighter;
        letter-spacing: 1px;
        font-size: 20px;
        margin: 5px auto;
    }
    .content h2 {
        font-weight: 50;
    }
    .fa {
        padding: 0 5px;
        font-size: 20px;
        color: rgb(24 119 242);
        margin-right: 0 auto;
        margin-left: 45%;
    }
    .content {
        padding: 5px;
    }
    .text1 {
        padding: 11px;
        letter-spacing: 1px;
        text-align: center;
        position: absolute;
        font-size: 12px;
        top: 20%;
        left: 35%;
        transform: translate(-25%, 50%);
    }
    @keyframes text {
        0% {
            color: black;
        }
        30% {
            letter-spacing: 5px;
            margin-bottom: 20%;
        }
        85% {
            margin-bottom: 20%;
        }
    }
}